
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>National Western Australia Bank</h2>
<div class="text-center">

    <h4>Who we are</h4>

    
    <p>
        National Western Australia Bank is one of Australia's leading financial services organisation with over one million customers worldwide.
        <br /><br />
        Our major financial services franchises in Australia are complemented by businesses in the United States and Asia.
        National Western Australia bank has a commitment to provide our customers with quality products and services, fair fees
        and charges and relationships built on the principles of trust and guidance.
        

    </p>
    <h4> Our Approach </h4>
    <img src="~/images/happypeople.jpg" />
    <p>
        National Western Australia Bank values and respects the contribution of people with diverse backgrounds, experiences and perspectives to provide
        exceptional customer service to a diverse community.
        <br /><br />
        Our management team has a clearly defined corporate governance framework, risk management framework and governance processes available in our
        latest Annual Report.
        <br /><br />
        National Western Australia Bank has a publically available code of conduct and we are committed to acting with integrity in all our activities.

    
    </p>

</div>